@{
    var data = (List<CheckOut>)ViewData["purchase"];
}



<div class="container">
    <div class="row">
        @foreach (var c in data)
        {
            <div class="col-md-4 p-3  text-content-center">
                <div class="card" style="width: 15rem;">
                    <img src="http:/@c.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@c.Name</h5>
                        <p class="card-text">@c.Description</p>
                        <button type="button" class="btn btn-primary btn-sm">Download</button>

                    </div>
                </div>
            </div>
            <div class="col-md-8 p-3  text-left" style="text-align:center">
                <p>Purchase On:@c.Date</p>
                <p>Quantity:@c.Quantity</p>
                <label>ActivationCode:</label>
                <select>
                    <option>@c.ActivationCode</option>
                   
                </select>
               
            </div>
        }

    </div>


</div>